body {
  padding: 20px 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  background: #e52b50;
}

h1, h2 {
  font-family: "Georgia", "Palatino", serif;
  font-weight: normal;
}

h1 {
  font-style: italic;
  text-align: center;
}

a { color: #e52b50; }

fieldset {
  padding: 0;
  border: none;
}

dd { margin: 0; }
dd + dt { padding: 10px 0 0 0; }

input[type="text"] {
  width: 200px;
}

textarea {
  width: 100%;
  resize: vertical;
}

article, main { display: block; }

main {
  width: 700px;
  padding: 20px;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .7);
  box-shadow: 0 0 15px rgba(0, 0, 0, .7);
}

pre { font-size: 12px; }

ul {
  padding: 0;
  list-style: none;
}
ul:empty { display: none; }

li {
  display: inline-block;
  padding: 0 10px 5px 0;
}

li a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 13px;
  text-decoration: none;
  color: #333333;
  border: 1px solid #999999;
  border-radius: 4px;
  background: #f0f0f0;
}
